body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container{
    width: 30%;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}

.about{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.about img{
    width: 100%;
}

.about small{
    padding: 10px;
}

.game{
    margin: 15px 15px 0;
}

.score select{
    width: 15%;
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttons>*{
    width: calc(100%/3);
    height: 30px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    color: white;
    cursor: pointer;
}

#pl1Btn{
    background-color: rgb(76, 237, 119);
}

#pl2Btn{
    background-color: rgb(50, 203, 237);
}

#resetBtn{
    background-color: #ed3232;
}

.winner{
    color: green;
}

.loser{
    color: red;
}